{% extends "index.html" %} {% block title %} UWEFlix HomePage  {% endblock %} {% block content %} {% load crispy_forms_tags %}
{%load static%}
<!DOCTYPE html>
<head>
    <link href="{% static 'css/tooplate-infinite-loop.css' %}" rel="stylesheet"/>
<section>
    <div class="row-2">
        <ul>
            <li><a href="index.html" class="active"><p style="margin-top: 0px;"></p></a></li>
        </ul>
    </div>
</section>
</head>

    <body>
        <span class=""></span>
        <div class="col-lg-4 col-md-6 col-8 mx-auto">
        <div>Student Register</div>
        <form method="post" class="form-group">
            {% csrf_token %} 
            {{ user_form|crispy }}
            <button type="submit" class="btn btn-success">Register</button>
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    </div?>
    </body>
</html>
{% endif %}
{% endblock  %}