{% extends 'manager.html' %}
{% block content %}
    <div id="menu6" class="tab-pane in active">
        <div class="row justify-content-center">
            <div class="col-11">
                <div class="form-card">
                    <h3 class="mt-5 mb-5 text-center">View Statements</h3>
                    {% if FilmForm.errors %}
                        {% for field in ShowForm %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger alert-dismissible fade show"
                                     role="alert">
                                    <strong>{{ error|escape }}</strong>
                                    <button type="button" class="btn-close"
                                            data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in ShowForm.non_field_errors %}
                            <div class="alert alert-danger alert-dismissible fade show"
                                 role="alert">
                                <strong>{{ error|escape }}</strong>
                                <button type="button" class="btn-close"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissible fade show"
                                     role="alert">
                                    <svg class="bi flex-shrink-0 me-2" width="24"
                                         height="24"
                                         role="img" aria-label="Success:">
                                        <use xlink:href="#check-circle-fill"/>
                                    </svg>
                                    <strong>{{ message }}</strong>
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <div class="card shadow mb-4 mt-5">
                        <div class="card-header py-3">
                            <div class="row justify-content-center mb-4">
                                <div class="col-lg-6 col-12">
                                    <div class="input-group input-group-outline">

                                        <label>Select Account</label>
                                        <!-- {{ ShowForm.film }} -->
                                        <select class="form-control" style="width: 100%;">
                                            <option selected="selected">Alabama</option>
                                            <option>Alaska</option>
                                            <option>California</option>
                                            <option>Delaware</option>
                                            <option>Tennessee</option>
                                            <option>Texas</option>
                                            <option>Washington</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table" id="dataTable" width="100%"
                                       cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Month</th>
                                        <th>Credit</th>
                                        <th>Debit</th>
                                    </tr>
                                    </tbody>
                                    <!-- <tfoot>
                                        <tr>
                                            <td>
                                                <button class="btn btn-primary mt-3"
                                                    type="button" data-toggle="modal"
                                                    data-target="#modal-default">Add
                                                    Exchange</button>
                                            </td>
                                        </tr>
                                    </tfoot> -->
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}









